    @import url('https://fonts.googleapis.com/css?family=Poppins');
    body {
        font-family: 'Poppins';
    }
    /* Master Container */
    
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    /* Header css */
    
    .header {
        width: 100%;
        height: 500px;
        background-image: url("./images/bg-hero-desktop.svg");
        background-color: hsl(193, 100%, 96%);
        display: flex;
        justify-content: center;
        font-family: "Poppins";
    }
    
    .header-container {
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    
    .nav {
        border: 0px solid black;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100px;
        align-items: center;
    }
    
    .roundCorner-btn {
        border: 0px solid white;
        background-color: white;
        color: hsl(208, 11%, 55%);
        border-radius: 25px;
        text-align: center;
        width: 200px;
        height: 50px;
        font-size: 20px;
        font-family: "Poppins";
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        cursor: pointer;
    }
    
    .roundCorner-btn:hover {
        background-color: hsl(208, 11%, 55%);
        color: white;
    }
    
    .header-second-row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    
    p {
        text-align: center;
        font-size: 30px;
        font-weight: 800;
    }
    
    .left-part {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Poppins";
        align-items: center;
    }
    
    .roundCorner-btn1 {
        border: 0px solid white;
        color: white;
        background-color: hsl(322, 100%, 66%);
        border-radius: 25px;
        text-align: center;
        width: 300px;
        height: 50px;
        font-size: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        cursor: pointer;
    }
    
    .roundCorner-btn1:hover {
        background-color: hsl(322, 83%, 72%);
    }
    
    .right-part {
        display: flex;
        width: 70%;
        height: max-content;
        justify-content: center;
    }
    
    .header-left-content {
        text-align: center;
        font-size: 18px;
    }
    
    .mockups-image {
        height: 90%;
        width: 90%;
    }
    /***
 * Section cards 
 */
    
    .section {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: "Poppins";
        margin-top: 5%;
    }
    
    .section-container {
        width: 85%;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    
    .card-headings {
        width: 100%;
        align-self: flex-start;
    }
    
    .card-1 {
        height: fit-content;
        border: 0px solid black;
        border-radius: 10px;
        box-shadow: 0 2px 16px hsl(200, 5%, 87%);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20%;
    }
    
    .left-section-card1 {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Poppins";
        align-items: center;
    }
    
    .right-section-card1 {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .grow-together-image {
        height: 300px;
        width: 300px;
    }
    
    .card-2 {
        height: fit-content;
        border: 0px solid black;
        border-radius: 10px;
        box-shadow: 0 2px 16px hsl(200, 5%, 87%);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20%;
    }
    
    .right-section-card2 {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Poppins";
        align-items: center;
    }
    
    .left-section-card2 {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .flowing-conversation-image {
        height: 300px;
        width: 300px;
    }
    
    .card-3 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 50px;
        height: fit-content;
        border: 0px solid black;
        border-radius: 10px;
        box-shadow: 0 2px 16px hsl(200, 5%, 87%);
        gap: 20%;
    }
    
    .left-section-card3 {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Poppins";
        align-items: center;
    }
    
    .right-section-card3 {
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    .illustration-your-users-image {
        height: 300px;
        width: 300px;
    }
    
    .section-card-content {
        font-size: 18px;
        color: hsl(208, 11%, 55%);
        text-align: justify;
    }
    /***
 * Above footer container
 */
    
    .container3-section {
        margin-top: 10%;
    }
    
    .container3 {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: "Poppins";
        position: relative;
    }
    
    .container3-heading {
        font-size: 30px;
    }
    
    .innerContainer {
        height: 200px;
        width: 50%;
        border: 0px solid black;
        box-shadow: 0 2px 16px hsl(200, 5%, 87%);
        position: absolute;
        bottom: -100px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .roundCorner-btn2 {
        border: 0px solid white;
        color: white;
        background-color: hsl(322, 100%, 66%);
        border-radius: 25px;
        text-align: center;
        width: 300px;
        height: 50px;
        font-size: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .roundCorner-btn2:hover {
        background-color: hsl(322, 83%, 72%);
    }
    /* Footer */
    
    .footer {
        width: 100%;
        background-color: #24262b;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    
    .container-footer {
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    ul {
        padding-left: 0;
        list-style: none;
    }
    
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    
    .footer-col-1 {
        width: 33%;
        min-width: 200px;
    }
    
    .footer-col-2 {
        width: 33%;
        display: flex;
        justify-content: space-around;
        min-width: 200px;
    }
    
    .footer-col-3 {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 200px;
    }
    
    .footer-col-2-content1 {
        min-width: 150px;
    }
    
    .footer-col-2-content2 {
        min-width: 150px;
    }
    
    .footer-col-2 ul li:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .footer-col-2 ul li a {
        font-size: 18px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        display: block;
        transition: all 0.3s ease;
    }
    
    .footer-col-2 ul li a:hover {
        color: #ffffff;
        padding-left: 6px;
    }
    
    .footer-col-3 .social-links a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transform: all 0.3s ease;
    }
    
    .footer-col-3 .social-links a:hover {
        color: hsl(322, 100%, 66%);
        border: 1px solid hsl(322, 100%, 66%);
    }
    
    .content {
        margin: 20px 0 0;
    }
    
    .text {
        font-size: 18px;
        color: white;
    }
    
    .text-copyright {
        font-size: 8px;
        color: white;
    }
    
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
    
    @media screen and (min-width: 1280px) {
        .header {
            min-height: 70vh;
        }
        .logo-image {
            width: 180px;
            height: 50 px;
            margin-top: 10px;
        }
        .header-container {
            row-gap: 0px;
        }
        .card-1 {
            justify-content: space-around;
        }
        .card-2 {
            margin-top: 5%;
            justify-content: space-around;
        }
        .card-3 {
            margin-top: 5%;
            justify-content: space-around;
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        .logo-image {
            width: 150px;
            height: 50 px;
            margin-top: 10px;
        }
        p {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
        }
        .header-left-content {
            text-align: center;
            font-size: 12px;
        }
        .roundCorner-btn1 {
            width: 200px;
            height: 40px;
            font-size: 15px;
        }
        .right-part {
            width: 70%;
            padding-top: 20px;
        }
        .card-1 {
            justify-content: space-around;
        }
        .grow-together-image {
            height: 250px;
            width: 250px;
        }
        .card-2 {
            margin-top: 5%;
            justify-content: space-around;
        }
        .flowing-conversation-image {
            height: 220px;
            width: 220px;
        }
        .card-3 {
            margin-top: 5%;
            justify-content: space-around;
        }
        .illustration-your-users-image {
            height: 220px;
            width: 220px;
        }
        .card-headings {
            font-size: 18px;
        }
        .section-card-content {
            font-size: 12px;
            color: hsl(208, 11%, 55%);
            text-align: justify;
        }
        .container3-section {
            margin-top: 18%;
        }
        .innerContainer {
            height: 150px;
            bottom: -75px;
        }
        .container3-heading {
            font-size: 20px;
        }
        .roundCorner-btn2 {
            width: 250px;
            height: 40px;
            font-size: 18px;
        }
        .container-footer {
            max-width: 95%;
        }
        .footer-col-3 .social-links a {
            margin-top: 10px;
        }
        .text {
            font-size: 16px;
            color: white;
        }
        .footer-col-2-content1 {
            min-width: 100px;
        }
        .footer-col-2-content2 {
            min-width: 100px;
        }
        .footer-col-2 ul li a {
            padding-top: 8px;
            font-size: 15px;
        }
        .text-copyright {
            font-size: 10px;
        }
        .footer-image {
            height: 30px;
        }
    }
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        .header {
            background-image: url("./images/bg-hero-mobile.svg");
            background-color: hsl(193, 100%, 96%);
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        .roundCorner-btn {
            width: 150px;
            height: 40px;
            font-size: 20px;
        }
        .logo-image {
            width: 150px;
            height: 30 px;
            margin-top: 10px;
        }
        p {
            text-align: center;
            font-size: 30px;
            font-weight: 800;
        }
        .roundCorner-btn1 {
            background-color: hsl(322, 100%, 66%);
            border-radius: 25px;
            text-align: center;
            width: 250px;
            height: 40px;
            font-size: 18px;
        }
        .mockups-image {
            height: 90%;
            width: 90%;
        }
        .right-part {
            margin-top: 12px;
        }
        .card-1 {
            justify-content: space-around;
        }
        .grow-together-image {
            height: 250px;
            width: 250px;
        }
        .card-2 {
            margin-top: 5%;
            justify-content: space-around;
        }
        .flowing-conversation-image {
            height: 220px;
            width: 220px;
        }
        .card-3 {
            margin-top: 5%;
            justify-content: space-around;
        }
        .illustration-your-users-image {
            height: 220px;
            width: 220px;
        }
        .header-container {
            width: 100%;
        }
        .roundCorner-btn {
            width: 120px;
            height: 35px;
            font-size: 15px;
        }
        .mockups-image {
            height: 250px;
            width: 360px;
        }
        .left-part {
            width: auto;
            height: fit-content;
        }
        .right-part {
            width: 100%;
        }
        .footer-col-1 {
            width: 100%;
            min-width: 200px;
        }
        .footer-col-2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-col-3 {
            width: 100%;
            align-items: center;
        }
        .container3-heading {
            font-size: 30px;
        }
        .innerContainer {
            height: 100px;
            bottom: -50px;
        }
        .roundCorner-btn2 {
            width: 250px;
            height: 50px;
            font-size: 18px;
        }
        .left-section-card1 {
            width: fit-content;
            text-align: center;
            padding: 12px;
        }
        .right-section-card2 {
            width: fit-content;
            text-align: center;
            padding: 12px;
        }
        .left-section-card3 {
            width: fit-content;
            text-align: center;
            padding: 12px;
        }
        .right-section-card3 {
            width: fit-content;
            order: -1;
        }
        .card-headings {
            align-self: flex-start;
        }
        .innerContainer {
            width: 90%;
        }
        .container3-heading {
            font-size: 20px;
            text-align: center;
        }
        .footer-col-3 {
            row-gap: 10px;
        }
        .container3-section {
            margin-top: 30%;
        }
        .section-card-content {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 479px) {
        .header {
            background-image: url("./images/bg-hero-mobile.svg");
            background-color: hsl(193, 100%, 96%);
            background-repeat: no-repeat;
            min-height: 100vh;
        }
        .roundCorner-btn {
            width: 150px;
            height: 40px;
            font-size: 20px;
        }
        .logo-image {
            width: 150px;
            height: 30 px;
            margin-top: 10px;
        }
        p {
            text-align: center;
            font-size: 25px;
            font-weight: 800;
        }
        .roundCorner-btn1 {
            background-color: hsl(322, 100%, 66%);
            border-radius: 25px;
            text-align: center;
            width: 250px;
            height: 40px;
            font-size: 18px;
        }
        .right-part {
            margin-top: 12px;
        }
        .card-1 {
            justify-content: space-around;
        }
        .grow-together-image {
            height: 250px;
            width: 250px;
        }
        .card-2 {
            margin-top: 5%;
            justify-content: space-around;
        }
        .flowing-conversation-image {
            height: 220px;
            width: 220px;
        }
        .card-3 {
            margin-top: 5%;
            justify-content: space-around;
        }
        .illustration-your-users-image {
            height: 220px;
            width: 220px;
        }
        .header-container {
            width: 100%;
        }
        .roundCorner-btn {
            width: 120px;
            height: 35px;
            font-size: 15px;
        }
        .mockups-image {
            height: 250px;
            width: 360px;
        }
        .left-part {
            width: auto;
            height: fit-content;
        }
        .right-part {
            width: 100%;
        }
        .footer-col-1 {
            width: 100%;
            min-width: 200px;
        }
        .footer-col-2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .footer-col-3 {
            width: 100%;
            align-items: center;
        }
        .container3-heading {
            font-size: 30px;
        }
        .innerContainer {
            height: 100px;
            bottom: -50px;
        }
        .roundCorner-btn2 {
            width: 250px;
            height: 50px;
            font-size: 18px;
        }
        .left-section-card1 {
            width: fit-content;
            text-align: center;
            padding: 12px;
        }
        .right-section-card2 {
            width: fit-content;
            text-align: center;
            padding: 12px;
        }
        .left-section-card3 {
            width: fit-content;
            text-align: center;
            padding: 12px;
        }
        .right-section-card3 {
            width: fit-content;
            order: -1;
        }
        .card-headings {
            align-self: flex-start;
        }
        .innerContainer {
            width: 90%;
        }
        .container3-heading {
            font-size: 20px;
            text-align: center;
        }
        .footer-col-3 {
            row-gap: 10px;
        }
        .container3-section {
            margin-top: 30%;
        }
        .section-card-content {
            text-align: center;
        }
    }